/PSP01/RunProcess/nbproject/private/
/PSP01/RunProcess/build/
/PSP01/RuntimeProcess/nbproject/private/
/PSP01/RuntimeProcess/build/
/PSP01/ProcessSincronization/nbproject/private/
/PSP01/ProcessSincronization/build/
/PSP01/PSP01Ejemplo1/nbproject/private/
/PSP01/PSP01Ejemplo1/build/
/PSP01/PSP01Ejemplo2/nbproject/private/
/PSP01/PSP01Ejemplo2/build/
/PSP01/PSP01Ejemplo3/nbproject/private/
/PSP01/PSP01Ejemplo3/build/
/PSP01/PSP01Ejemplo2/dist/
/PSP01/LeerNombre/nbproject/private/
/PSP01/LeerNombre/build/
/PSP01/LeerNombre/dist/
/PSP01/ComprobarLeerNombre/nbproject/private/
/PSP01/ComprobarLeerNombre/build/
/PSP01/ComprobarLeerNombre/dist/
